.grid-background-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #000000;
  overflow: hidden;
}

.grid-background-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.grid-background-content {
  position: relative;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
}
